<!DOCTYPE html>
<html>
<head>
    <title>404 Error</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('partials/navbar', { page: '' }) %>
    <h1>404 Error</h1>
    <p><%= message %></p>
</body>
</html>