<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('partials/navbar', { page: '/about' }) %>
    <h1>About</h1>
    <p>This is the about page.</p>
</body>
</html>